<div class="row p-0">
<mat-toolbar color="primary">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </a>
    <span>GoogleTest</span>
    <span class="example-spacer"></span>
    <a routerLink="/signup" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
    </a>
    <a routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <i class="fa fa-book" aria-hidden="true"></i>
    </a>
</mat-toolbar>
</div>