<div class="boostrap-wrapper">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8  bg-light card mt-5">
            <div class="conatainer">
                <div class="row mt-4">
                    <div class="col-md-5"></div>
                    <div class="col-md-6">
                        <img src="https://i.ibb.co/gjVnx6b/Circle-icons-profile-svg.png" class="imgSize"  alt="Circle-icons-profile-svg">
                        <h1 style="margin-left: 2px;"> Login Here !!!</h1>
                    </div>
                </div>
            </div>

            <div class="conatainer">
                <div class="row mt-4">
                    <div class="col-md-4"></div>
                    <div class="col-md-5">
                        <form>
                            <mat-form-field class="full-width " appearance="outline">
                                <mat-label>Username</mat-label>
                                <input  name="username" matInput placeholder="Enter Username" required="">
                                <mat-hint>username must be Unique</mat-hint>
                            </mat-form-field>
                
                            <mat-form-field class="full-width mt-3" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input  name="password" matInput type="password" placeholder="Enter Password" required="">
                            </mat-form-field>
                
                            <div class="container">
                                <section>
                                    <button class="bg-primary text-light" mat-stroked-button>Login</button>
                                </section>
                        
                            </div>
                              <br><br>  
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>

