<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="img/download.png" rel="icon" />
<title>TechUp.in</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- Hearder start -->
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
					   <div class="container mt-1">
					      
					  </div>
					 <div class="container">
					      <a class="navbar-brand text-danger" href="#">sdsafdss <i class="fa fa-question-circle-o" style="color:red" aria-hidden="true"></i></a>
					  </div>
					    <div class="container mt-1">
					          <p class="text-light"><span><i class="fa fa-envelope" style="color:white"></i></span><a class="text-light" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">tech8577@gmail.com</a></p>	
					  </div>
					    <div class="container mt-1">
					       <p class="text-light"> </p>	
					  </div>
					  <div class="container mt-1 ml-5">
					       <p class="text-light"><span><i class="fa fa-phone" style="color:white"></i></span> +91 8577951142</p>	
					  </div>
					  <div class="container mt-1">
					       <p class="text-light"><span><i class="fa fa-facebook" style="color:white"></i>| <i class="fa fa-instagram" style="color:white"></i> |  <i class="fa fa-twitter style="color:white"></i> |  <i class="fa fa-linkedin" style="color:white"></i>| <i class="fa fa-whatsapp" style="color:white"></i></span> </p>	
					  </div>
					  <div class="container mt-1">
					       <p class="text-light"><span><i class="fa fa-sign-in" style="color:white"></i></span> Login/<a href="#" th:href="@{/pages/registration/}">Singup</a></p>	
					  </div>
					</div>
        </nav>
	<!-- Hearder End -->
	
	
<!-- nav bar start -->
	<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">TechUp <i class="fa fa-arrow-up" style="color:white" aria-hidden="true"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      	<span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
	      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
		        <li class="nav-item">
		         		 <a class="nav-link active  text-light" aria-current="page" href="#">Home</a>
		        </li>
		        <li class="nav-item">
		          		<a class="nav-link text-light"  href="#">About</a>
		        </li>
		        <li class="nav-item dropdown  text-light">
			          <a class="nav-link dropdown-toggle  text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			            Portfolio
			          </a>
			          <ul class="dropdown-menu">
			            <li><a class="dropdown-item " href="#">Our Projects</a></li>
			            <li><a class="dropdown-item  " href="#">Our Clients</a></li>
			           
			          </ul>
		        </li>
		       <li class="nav-item dropdown  text-light">
		          <a class="nav-link dropdown-toggle  text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Our Services
		          </a>
		          <ul class="dropdown-menu">
			            <li><a class="dropdown-item" href="#">All Services</a></li>
			            <li><a class="dropdown-item" href="#">Softwere Development</a></li>
			            <li><a class="dropdown-item" href="#">Website Developments</a></li>
			            <li><a class="dropdown-item" href="#">Mobile Application</a></li>
			             <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
			             <li><a class="dropdown-item" href="#">Graphics Designing</a></li>
			              <li><a class="dropdown-item" href="#">Domain & Hosting</a></li>
			              <li><a class="dropdown-item" href="#">ERP & CRM Developments</a></li>
			              <li><a class="dropdown-item" href="#">Other Softwere Developments</a></li>
			        </ul>
		       </li>
	        <li class="nav-item">
	          <a class="nav-link disabled  text-light">Contacts Us</a>
	        </li>
	      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success  text-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
		<div class="row mt-5">
			<div class="col-md-6">
				 <div class="col">
				    <div class="card h-100">
				      <img src="img20.webp" height="600px;" class="card-img-top" alt="...">
				     </div>
				  </div>
			</div>
			
				<div class="col-md-6">
					 <div class="col">
				    <form action="">
				     	<div class="row">
				     		<div class="col-md-6">
				     			<input type="text" placeholder="Name *" id="name" name="name" class="form-control">
				     		</div>
				     		<div class="col-md-6">
				     		<input type="text" placeholder="Email *" id="email" name="email" class="form-control"></div>
						</div>
						<div class="row mt-5">
				     		<div class="col-md-6">
				     			<input type="text" placeholder="Phone Number *" id="phonenumber" name="phonenumber" class="form-control">
				     		</div>
				     		<div class="col-md-6">
				     		<input type="text" placeholder="Company Name *" id="company" name="comapny" class="form-control"></div>
						</div>
						<div class="row mt-5">
				     		<div class="col-md-12">
				     			<select name="type" id="type" class="form-control">
								  <option value="none">Type</option>
								  <option value="Softwere Developments">Softwere Developments</option>
								  <option value="Appication Developments">Appication Developments</option>
								  <option value="Digital Marketing">Digital Marketing</option>
								  <option value="Graphics Designing">Graphics Designing</option>
								  <option value="Mobile Application">Mobile Application</option>
								  <option value="IOS & Android Appication">IOS & Android Appication</option>
								  <option value="Website Appication">Website Appication</option>
								  <option value="Trainning">Trainning </option>
								  <option value="Internship">Internship</option>
								</select>
				     		</div>
				     		
				     		
						</div>
						
						<div class="row mt-5">
				     		<div class="col-md-12">
				     			<textarea  type="textarea" placeholder="Message *"  id="message" name="message" class="form-control"></textarea>
				     		</div>
				     	</div>
				     	
				     	
				     	<div class="row mt-5">
				     		<div class="col-md-12">
				     			<button type="button" onclick="sendQuestion()" class="btn btn-primary btn-lg">Send Question</button>
				     		</div>
				     	</div>
				    </form>
				 </div>
          </div>

</div>

<hr>

<script>
  function sendQuestion()
  {
	  var name=document.getElementById("name").value;
	  var email=document.getElementById("email").value;
	  var phonenumber=document.getElementById("phonenumber").value;
	  var company=document.getElementById("company").value;
	  var type=document.getElementById("type").value;
	  var message=document.getElementById("message").value;
	  $.ajax({
	        type:'POST',
	        url: "saveRegistration",
	        data:{name:name,email:email,phonenumber:phonenumber,company:company,type:type,message:message},
	        success: function() {
	            alert("success");
	        }
	    });
	  
  }
</script>
<div class="container-fluid">

<div class="row">
	<div class="col-md-12">
		<br>	<br>	<br>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
						<div class="col">
						  
						<h4>   TechUp Private Limted</h4>
						   <span>Sector 02 ,Near Noida sec-15 , UP , pincode - 201301, India</span>
						   <br>
						        <span>Mob :+91 8577951142</span>
						         <br>
						        <span>Mail: tech8577@gmail.com</span>
						    <br>
						   <span><a href="">www.techUp.in</a></span>
					    </div>
				</div>
				<div class="col-md-3">
							<h6>Company</h6>
							<p>Home</p>
						     <p>About</p>
						       <p>FAQs</p>
						          <p>Contect</p>
				</div>
				<div class="col-md-3">
				 <h4>Our Se rvices</h4>
						   <p>Softwere Developement</p>
						     <p>Mobile Application Developments</p>
						       <p>Website Developements</p>
						          <p>Digital Marketing</p>
				</div>
				
				<div class="col-md-3">
				            <h6>Support</h6>
				              <p>Appication Maintenence</p>
						     <p> Demo Facilities</p>
						       <p>One Year Support</p>
						          <p>Learning Application</p>
				</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		<span><i class="fa fa-copyright" aria-hidden="true"></i>2022 TechUp Private Limted All Rights Reserved</span>
		</div>
		<div class="col-md-4">
		</div>
	</div>
	</div>
	<hr>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>
</body>
</html>